[Unit]
Description=Wake HELIS scheduler periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=30s
Persistent=true
Unit=helis-scheduler.service

[Install]
WantedBy=timers.target
